<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Desafio con EJS</title>
		<link rel="stylesheet" href="main.css" />
	</head>
	<body>
		<h1>PRODUCTOS</h1>
		<ul>
			<% for(it of items){%>
			<li><%- it.title%> $<%-it.price%></li>
			<% }%>
		</ul>
		<%- include('./partials/footer.ejs')%>
		<a href="/">Agregar productos</a>
	</body>
</html>
